.CartItem {
  display: flex;
}

.CartItem-image {
  width: 180px;
  height: 180px;
}

.CartItem-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.CartItem-info {
  flex-grow: 1;
}
