.CartItem {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding-top: 12px;
  padding-bottom: 12px;
  flex-direction: column;
}

.CartItem-image {
  width: 180px;
  height: 180px;
  flex-grow: 0;
  flex-shrink: 0;
  padding-bottom: 12px;
  margin-right: 1px;
}

.CartItem-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info-title {
  margin-left: 16px;
}

.info-title h2 {
  margin: 0;
  font-size: 18px;
  color: #007185;
}

.info-stock {
  margin-top: 4px;
  color: #007600;
  margin-left: 16px;
}

.item-actions {
  margin-top: 4px;
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.item-quantity select {
  background-color: #f2f2f2;
  padding: 9px;
  border-radius: 7px;
  box-shadow: 0px 2px 5px 0px rgba(15, 17, 17, 0.15);
}

.item-quantity select:focus,
.item-quantity select:hover {
  outline: none;
}

.item-actions-divider {
  margin-left: 8px;
  margin-right: 8px;
  color: #dddddd;
  font-weight: bold;
}

.item-delete {
  color: #007185;
  cursor: pointer;
}

.item-delete:hover {
  text-decoration: underline;
}

.CartItem-price {
  font-size: 18px;
  font-weight: 700;
  margin-left: 16px;
  padding-top: 10px;
  padding-top: 10px;
}

/********** Media Queries (If the screen size is 992px or larger ) **********/

@media (min-width: 992px) {
  .CartItem {
    flex-direction: row;
  }

  .CartItem-info {
    flex-grow: 1;
  }

  .CartItem-price {
    padding-top: 0px;
    padding-top: 0px;
  }
}
